{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('add_director') }}">새 감독 등록하기</a></p>
<div class="list">

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    function show_director_edit(id, name_en, name_kr) {
        let body = "<input id='name-en-" + id + "' type='text' value='" + name_en + "'/>"
            + "<input id='name-kr-" + id + "'type='text' value='" + name_kr + "'/>"
            + "<button onclick='update_director(" + id +")'>수정 완료</button>";
        $("#list-" + id).html(body);
    }

    function update_director(id) {
        name_en = $("#name-en-" + id).val();
        name_kr = $("#name-kr-" + id).val();
        isConfirmed = confirm(name_en + " 감독 항목을 수정하시겠습니까?");
        if (isConfirmed == true) {
            $.ajax({
                type: 'POST',
                url: '/anl-api/director/' + id,
                data: JSON.stringify({
                    'id': id,
                    'name_en': name_en,
                    'name_kr': name_kr
                }),
                success: function(response) {
                    alert("수정에 성공했습니다.");
                    update_directors_html(response.directors);
                },
                contentType: 'application/json',
                dataType: 'json'
            })
        }
    }

    function update_photo(id, name_en) {
        isConfirmed = confirm(name_en + " 사진을 수정하시겠습니까?");
        if (isConfirmed == true) {
            $.ajax({
                type: "PUT",
                url: '/anl-api/director/' + id,
                success: function (response) {
                    alert("항목 수정에 성공했습니다.");
                    update_directors_html(response.directors);
                },
                contentType: 'application/json',
                dataType: 'json'
            })
        }
    }

    function delete_photo(id, name_en) {
        isConfirmed = confirm(name_en + " 사진을 삭제하시겠습니까?");
        if (isConfirmed == true) {
            $.ajax({
                type: "POST",
                url: '/anl-api/director/photo',
                data: JSON.stringify({
                    'id': id
                }),
                success: function (response) {
                    alert("사진 삭제에 성공했습니다.");
                    update_directors_html(response.directors);
                },
                contentType: "application/json",
                dataType: 'json'
            })
        }
    };

    function delete_director(id, name_en) {
        isConfirmed = confirm(name_en + " 항목을 삭제하시겠습니까?");
        if (isConfirmed == true) {
            $.ajax({
                type: "DELETE",
                url: '/anl-api/director/' + id,
                success: function (response) {
                    alert("항목 삭제에 성공했습니다.");
                    update_directors_html(response.directors);
                },
                contentType: "application/json",
                dataType: 'json'
            })
        }
    }

    function update_directors_html(directors) {
        html = "";
        for (var i in directors) {
            director = directors[i];
            item = "<div id=\"list-" + director.id + "\">"
                + director.name_en + " " + director.name_kr + "<br />";
            if (director.photo != null) {
                item += "<img src='/static/" + director.photo + "' /><br />"
            }

            item += "<button onclick=\"show_director_edit("
                + director.id + ", '" + director.name_en + "', '" + director.name_kr +  "')\">항목 수정</button>"
                +  "<button onclick=\"delete_photo(" + director.id + ", '" + director.name_en + "')\">사진 삭제</button>"
                + "<button onclick=\"delete_director(" + director.id + ", '" + director.name_en + "')\">항목 삭제</button>"
                + "<hr /></div>";
            html += item;
        }
        $('.list').html(html);
    }

    $.getJSON('/anl-api/director')
        .done(function (response) {
            update_directors_html(response.directors);
        }).fail(function (response) {
        console.log(response.text);
    })
</script>
{% endblock %}