{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('add_director') }}">새 감독 등록하기</a></p>
<ul class="list">
    <!--{% for director in directors %}-->
    <!--<li>-->
        <!--{{ director.name_en }} ({{ director.name_kr }})-->
        <!--{% if director.photo %}-->
        <!--<img src="{{ url_for('static', filename=director.photo) }}" alt="감독 사진" />-->
        <!--{% endif %}-->
        <!--<a href="{{ url_for('edit_director', id=director.id) }}">수정</a>-->
        <!--<a href="{{ url_for('delete_director', id=director.id) }}">삭제</a>-->
    <!--</li>-->
    <!--{% endfor %}-->
</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $.get('/anl-api/director')
        .done(function(response) {
            // console.log(response.directors)
            for (var i in response.directors) {
                console.log(response.directors[i]);
            }
            // $('.list').text(response.directors);
        }).fail(function(response) {
            console.log(response.text);
    })
</script>
{% endblock %}