{% extends "base.html" %}

{% block content %}
    <h1>Register New Movie! 새로운 영화는 언제나 환영이야.</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.movie_kr_name.label }}<br>
            {{ form.movie_kr_name(size=60) }}<br>
            {% for error in form.movie_kr_name.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.movie_en_name.label }}<br>
            {{ form.movie_en_name(size=60) }}<br>
            {% for error in form.movie_en_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p> {{ form.submit() }}</p>
    </form>

{% endblock %}