{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('add_actor') }}">새 배우 등록하기</a></p>
<ul class="list">

</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $.getJSON('/anl-api/actor')
        .done(function(response) {
            html = "";
            for (var i in response.actors) {
                li = "<li>";
                actor = response.actors[i];
                li += actor.name_en + " " + actor.name_kr;
                li += "</li>";
                html += li;
            }
            $('.list').html(html);
        }).fail(function(response) {
            console.log(response.text);
    })
</script>
{% endblock %}