{% extends "base.html" %}


{% block content %}

<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.director_by_movie_kr_name.label }}<br/>
        {{ form.director_by_movie_kr_name(size=60) }}<br/>
        {% for error in form.director_by_movie_kr_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p> {{ form.submit() }} </p>
    <p>
        {{ form.director_by_movie_en_name.label }}<br/>
        {{ form.director_by_movie_en_name(size=60) }}<br/>
        {% for error in form.director_by_movie_en_name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
</form>

<h2>해당 감독 영화 리스트</h2>

<ul class="relevant-list">

</ul>
<hr>
<h2>전체 영화 리스트</h2>

<ul class="whole-list">


</ul>
{% endblock %}
{% block scripts %}
{{ super() }}

<script>


    function add(id, name_en, name_kr) {
        relevantUl = $(".relevant-list");
        $.ajax({
          type: 'POST',
          url: "/anl-api/movie/" + id + "/director/" + {{ director.id }},
          success: function (response) {
            refresh();
          },
          contentType: 'application/json',
          dataType: 'json'
        })
    }

    function remove(id, name_en, name_kr) {
        relevantUl = $(".relevant-list");
        $.ajax({
          type: 'DELETE',
          url: "/anl-api/movie/" + id + "/director/" + {{ director.id }},
          success: function (response) {
            refresh();
          },
          contentType: 'application/json',
          dataType: 'json'
        })
    }

    function put_on_others(movies) {
        html = "";
        for (var i in movies) {
            movie = movies[i];
            li = "<li id=\"list-" + movie.id + "\">";
            li += movie.name_kr + " " + movie.name_en;
            li += "<button onclick=\"add(" +
                movie.id + ", '" + movie.name_en + "', '" + movie.name_kr + "')\">감독 영화 리스트에 추가</button>";
            li += "</li>";
            html += li;
        }
        $('.whole-list').html(html)
    }

    function put_on_theirs(movies) {
        html = "";
        for (var i in movies) {
            movie = movies[i];
            li = "<li id=\"list-" + movie.id + "\">";
            li += movie.name_kr + " " + movie.name_en;
            li += "<button onclick=\"remove(" +
                movie.id + ", '" + movie.name_en + "', '" + movie.name_kr + "')\">감독 영화 리스트에서 제거</button>";
            li += "</li>";
            html += li;
        }
        $('.relevant-list').html(html)
    }

    var directorId = {{ director.id }}

    function refresh() {
        $.getJSON('/anl-api/movie-with-director/' + directorId)
            .done(function (response) {
                put_on_others(response.movies);
                put_on_theirs(response.producers);
            }).fail(function (response) {
            console.log(response.text);
        })
    }

    refresh();

</script>
{% endblock %}
