{% extends "base.html" %}

{% block content %}

<input id="search-form" type="text" onchange="search()">

<h2>해당 배우 영화 리스트</h2>

<ul class="relevant-list"></ul>
<hr>
<h2>전체 영화 리스트</h2>

<ul class="whole-list"></ul>
{% endblock %}
{% block scripts %}
{{ super() }}

<script>
    var keyword = "";
    var actorId = {{ actor.id }}
    ;

    function search() {
        keyword = $("#search-form").val();
        refresh();
    }

    function add_movie_to_director(id, name_en, name_kr) {
        relevantUl = $(".relevant-list");
        $.ajax({
            type: 'POST',
            url: "/bb-admin/api/movie/" + id + "/actor/" + {{ actor.id }},
        success: function (response) {
            refresh();
        },
        contentType: 'application/json',
            dataType: 'json'
        })
    }

    function remove(id, name_en, name_kr) {
        relevantUl = $(".relevant-list");
        $.ajax({
            type: 'DELETE',
            url: "/bb-admin/api/movie/" + id + "/actor/" + {{ actor.id }},
            success: function (response) {
                refresh();
            },
            contentType: 'application/json',
                dataType: 'json'
        })
    }

    function put_on_others(movies) {
        html = "";
        for (var i in movies) {
            movie = movies[i];
            li = "<li id=\"list-" + movie.id + "\">";
            li += movie.name_kr + " " + movie.name_en;
            li += "<button onclick=\"add_movie_to_director(" +
                    movie.id + ", '" + movie.name_en + "', '" + movie.name_kr + "')\">배우 영화 리스트에 추가</button>";
            li += "</li>";
            html += li;
        }
        $(".whole-list").html(html)
    }

    function put_on_theirs(movies) {
        html = "";
        for (var i in movies) {
            movie = movies[i];
            li = "<li id=\"list-" + movie.id + "\">";
            li += movie.name_kr + " " + movie.name_en;
            li += "<button onclick=\"remove(" +
                    movie.id + ", '" + movie.name_en + "', '" + movie.name_kr + "')\">배우 영화 리스트에서 제거</button>";
            li += "</li>";
            html += li;
        }
        $('.relevant-list').html(html)
    }

    function refresh() {
        if (keyword == "")  {
            query = "";
        } else {
            query = "?keyword=" + keyword;
        }
        $.getJSON('/bb-admin/api/movie-with-actor/' + actorId + query)
            .done(function (response) {
                put_on_others(response.movies);
                put_on_theirs(response.actors);
            }).fail(function (response){
                console.log(response.text);
        })
    }

    refresh();
</script>
{% endblock %}