{% extends "base.html" %}

{% block content %}
<p><a href="{{ url_for('add_director') }}">새 감독 등록하기</a></p>
<ul class="list">

</ul>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $.getJSON('/anl-api/director')
        .done(function(response) {
            html = "";
            for (var i in response.directors) {
                li = "<li>";
                director = response.directors[i];
                li += director.name_en + " " + director.name_kr;
                li += "</li>";
                html += li;
            }
            $('.list').html(html);
        }).fail(function(response) {
            console.log(response.text);
    })
</script>
{% endblock %}