code {
    background-color: #f8f8f8;
    padding: 1px 4px;
  }
  
pre code {
/* shape and position */
display: inline-block;
width: 100%;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 12px;
padding-right: auto;
margin: 0;
color: #000000;

/* colors */

border-width: 1px;
}

pre code span.hljs-keyword {
font-weight: bold;
color: #008000;
}

pre code span.hljs-title {
color: #0101FF;
}

pre code span.hljs-string {
color: #BA2121;
}

pre code span.hljs-number {
color: #080;
}

pre code span.hljs-comment {
font-style: italic;
color: #408080;
}