{% load static %}
<html>
    <head>
        <title>Adela Chung</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}"/>
        <meta charset="UTF-8">
        <meta name="author" content="Adela Chung">
        <meta name="description" content="Blog for Adela">
        
    </head>
    <body>
        <!-- header -->
        <div class="header">
            <div class="header-list">
                <ul>
                    <li class="header-name">
                        <a href="/"><h1>Adela</h1></a>
                    </li>
                    <li><a href="/"><h2>정지윤</h2></a></li>
                    <li class="header-week">
                        <h3>Week 1</h3>
                    </li>
                    <li class="header-date">
                        <h3>August 2019</h3>
                    </li>
                    <li class="header-search">
                        <button>검색</button>
                    </li>
                    <li class="header-options">
                        <button>최신순</button>
                    </li>
                    <li class="header-add-post">
                        <a href="{% url 'post_new' %}">
                            <button>글 쓰기</button>
                        </a>
                    </li>
                    <li class="header-profile">
                        <div><img src=""></img></div>
                    </li>
                </ul>                    
            </div>
        </div>
        <div>
        <!-- main : post list -->
        {% block content %}
        {% endblock %}
        </div>
    </body>
</html>