{% extends 'blog/base.html' %}

{% block title %}Post{% endblock %}
{% load static %}

{% block content %}
    <div class="post">
        <hr>
        <h1><a href="">{{ post.title }}</a></h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a href="{% url 'post_publish' pk=post.pk %}"><button>글 등록</button></a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}"><button>글 수정</button></a>
            <a href="{% url 'post_remove' pk=post.pk %}"><button>글 삭제</button>g</a>
        {% endif %}
        {{ post.formatted_text | safe | linebreaksbr }}
    </div>
{% endblock %}