{% extends 'blog/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
    {% for post in posts %}
    <main>
        <ul class="post-list">
            <hr>
            <li class="post-lst">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>published: {{ post.published_date }}</p>
                <p>
                    {{ post.formatted_text | safe | linebreaksbr }}
                </p>
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
                <div class="tag-list">
                    {% if post.tags.count %}
                        <h3>Tags</h3>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag_list' tag_name=tag.title %}">#{{ tag.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        </ul>
    </main>
    {% endfor %}
{% endblock content %}
