{% extends 'blog/base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
    {% for post in posts %}
    <main>
        <div class="post-list">
            <hr>
            <div class="post-lst">
                <h2><a href="{% url 'post_detail' post_id=post.uuid %}">{{ post.title }}</a></h2>
                <p>published: {{ post.published_date }}</p>
                <p>
                    {{ post.formatted_text | safe | linebreaksbr }}
                </p>

                {% for image in post.image_set.all %}
                    <div>
                        <p>{{ image.file.url }}</p>> <!-- image 파일 크기 수정 후 <img src=''>로 수정-->
                    </div>
                {% endfor %}
                <a href="{% url 'post_detail' post_id=post.uuid %}">Comments: {{ post.approved_comments.count }}</a>
                <div class="tag-list">
                    {% if post.tags.count %}
                        <h3>Tags</h3>
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tag_list' tag_name=tag.title %}">#{{ tag.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    {% endfor %}
{% endblock content %}
