{% extends 'blog/base.html' %}
{% block title %}Revision: 상세 변경내역{% endblock %}
{% load static %}

{% block content %}
    <div class="header">
        <h1>지금 글의 변동사항은 여기 있돠!</h1>
    </div>
    <div class="current-post">
        <h2>{{ current.title }}</h2>
        <p>{{ current.author }}</p>
        <p>{{ current.created_date }}</p>
        <p>{{ current.text }}</p>
    </div>
    <div class="original-post">
        {% if previous %}
            <!-- TODO: previous가 있을 때만 출력되도록 하자. -->
            <h2>{{ previous.title }}</h2>
            <p>{{ previous.author }}</p>
            <p>{{ previous.created_date }}</p>
            <p>{{ previous.text }}</p>
        {% endif %}
    </div>
{% endblock %}